<template name="ListTables">
        <h1>Tables List</h1>
    <body>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>File name</th>
            <th>Date</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        {{#each tables}}
            <tr>
                <td>{{name}}</td>
                <td>{{file_name}}</td>
                <td>{{date}}</td>
                <td>{{#linkTo route='editTable'}}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>{{/linkTo}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <br>
    <br>
    </body>

</template>
